# Copy to .env and replace sample credentials before sharing the file.
LOCAL_BIND_ADDRESS=127.0.0.1
POSTGRES_USER=autoforge
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=25432
REDIS_CLUSTER_URL=redis://redis-7000:7000
RABBITMQ_USER=autoforge
RABBITMQ_PASSWORD=change-me
RABBITMQ_AMQP_PORT=25672
RABBITMQ_MANAGEMENT_PORT=25673
RABBITMQ_URL=amqp://autoforge:change-me@rabbitmq:5672/
AIRFLOW_PORT=28080
DURABLE_JOB_API_URL=http://application:8000
DURABLE_JOB_API_TOKEN=change-me
APPLICATION_PORT=28000
