global
  log stdout format raw local0

defaults
  mode tcp
  timeout connect 5s
  timeout client 60s
  timeout server 60s

frontend postgres-write
  bind *:5432
  default_backend postgres-primary

backend postgres-primary
  option httpchk GET /primary
  http-check expect status 200
  server postgres-ha-0 postgres-ha-0:5432 check port 8008
  server postgres-ha-1 postgres-ha-1:5432 check port 8008
  server postgres-ha-2 postgres-ha-2:5432 check port 8008
