global

defaults
  mode tcp
  timeout connect 5s
  timeout client 60s
  timeout server 60s

frontend rabbitmq-amqp
  bind *:5672
  default_backend rabbitmq-amqp-nodes

backend rabbitmq-amqp-nodes
  option tcp-check
  server rabbitmq-0 rabbitmq-0:5672 check
  server rabbitmq-1 rabbitmq-1:5672 check
  server rabbitmq-2 rabbitmq-2:5672 check

frontend rabbitmq-management
  bind *:15672
  default_backend rabbitmq-management-nodes

backend rabbitmq-management-nodes
  option tcp-check
  server rabbitmq-0 rabbitmq-0:15672 check
  server rabbitmq-1 rabbitmq-1:15672 check
  server rabbitmq-2 rabbitmq-2:15672 check
